h1 {
    border-bottom: solid 1px #000;
}

table {
    border: solid 1px #000;
    margin-bottom: 1em;
    width: 12em;
}
@media screen and (max-width: 12em) {
    table {
        width: 100%;
    }
}
tr, td {
    height: 1em;
    border: solid 1px #000;
}
