@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@400;700&family=Rajdhani:wght@300&display=swap');

html, body {
    margin: 0;
    padding: 0;
    font-family: Oxygen, sans-serif;
}

menu {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    background: #339;
    font-family: Rajdhani, sans-serif;
    font-size: 18px;
}
menu li {
    padding: .2em 1em;
    color: #fff;
    cursor: pointer;
}
menu li.selected {
    background: #fff;
    color: #339;
}
menu a {
    color: inherit;
    text-decoration: none;
}

main {
    padding: 1em;
}

table {
    margin-bottom: 1em;
    width: auto;
}
th {
    padding: .1em 1em;
    text-align: left;
    border-bottom: solid 1px #000;
}
@media screen and (max-width: 14em) {
    table {
        width: 100%;
    }
}
table.users {
    width: 100%;
}
td {
    height: 1em;
    padding: .1em 1em;
    border-bottom: dashed 1px #ccc;
}
td form {
    display: inline-block;
    margin: 0;
}

.ticket-count {
    display: inline-block;
    width: 3em;
    text-align: center;
}

.actions {
    display: flex;
    margin: 1em;
    padding: 1em;
    border: solid 1px #000;
}
.actions.admin {
    background: #933;
    color: #fff;
}
.actions.consume-tickets {
    display: block;
}
.actions form {
    display: block;
}
.actions form+form {
    margin-left: 1em;
}
.actions label {
    display: inline-block;
    margin-right: 1em;
    margin-bottom: .5em;
}
input.uuid {
    width: 18em;
}
.unmark-captain {
    text-decoration: line-through;
}
